h1{color:white;background-color:purple;font-style:oblique;}
#f1{background-color:red;}
#f2{background-color:yellow;}
img{margin: 0;}
#b{color:white;background-color:rgb(112, 94, 94);font-style:italic ;}
a{text-decoration:none;}